<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	    <link rel="stylesheet" href="css/index.css">
	    <link rel="stylesheet" href="css/login.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <title>Upload</title>

    <title>Hello, world!</title>
  </head>
  <body>
  <%= yield %>
    <div class="container">
		<!--
		-->
		<% todos = Video.all %>
		<% $i = 0 %>
        <% todos.each do |video| %>
        <% $i = $i + 1 %>
        <% # registro%> 
		
		<div class="card" style="width: 18rem;">
		 	<img class="card-img-top"> 
		 	<img src="<%= video.tumb%>"></img>
		 	<div class="card-body">
		    	<h5 class="card-title"><%= video.titulo%></h5>
		    	<p class="card-text"><%= video.descricao %></p>
		    	<button href="aula.html" onclick="<% $a = Video.take(todos.size)[$i]%>window.location.href='/aula'">Assistir</button>
		    	<a href="aula.html" class="btn btn-style btn-lg">Assistir</a>
		    	
		 	</div>
		</div>
		<% end %>

    </div>
  </body>
</html>