body{
	background-color: #141414;
}

@media (min-width: 1200px)
{.row {
    margin-right: -15px;
    margin-left: -15px;
}}

@media (min-width: 992px)
{.row {
    margin-right: -15px;
    margin-left: -15px;
}}

@media (min-width: 768px)
{.row {
    margin-right: -15px;
    margin-left: -15px;
}}

@media (min-width: 576px)
{.row {
    margin-right: -15px;
    margin-left: -15px;
}}

.navbar-shadow{
	box-shadow: 0 0.25rem 0.125rem 0 #080808;
    margin-bottom: 2.5rem;
}

.bg-dark{
	background-color: #0e0e0e!important;
}

.card {
	color: #828282;
    float: left;
    width: 33.33333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    transition: all .2s ease-in-out;
}

.card:hover{
	transform: scale(1.1);
}

.card-full{
	width: 100%;
	transition: none;
}

.card-full:hover{
	transform: none;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.video{
    margin-bottom: 2.5rem;
}

.video-text{
    color: #767676;
    margin-bottom: 2.5rem;
}

.form-box{
    border-style: solid;
    padding: 1.5rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #212529!important;
}

.form-control{
    background-color: transparent;
}

.btn-style {
    color: #fff;
    background-color: transparent;
    border-color: #ced4da;
}